.archive-container{
  width: 80%;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}

.inner-nav-item{
  margin: 5px;
  padding: 5px;
}

.archive-outer-container{
  background-color: white;
  margin-top: 5px;
}
