<div class="archive-outer-container">
  <a class="float-left inner-nav-item" href="/my-archives/<%=archiveDetails._id%>">Return to Archive Details</a>
  <a class="float-right inner-nav-item" href="my-archives/<%=archiveDetails._id%>/delete">Delete</a>
  <div class="archive-container">
    <form>
      <input type="text" name="archiveTitle" placeholder="Give your update a title!">
      <br>
      <textarea name="archiveDescription" rows="8" cols="80" placeholder="include a description!"></textarea>
      <br>
      <input type="text" name="archiveImage" placeholder="type in an image url!">
      <br>
      <!-- //Also must include option to upload a picture
      //first button is to archive your stuff -->
      <button formaction="/my-archives" formmethod="post">archive</button>
      <!-- //second button is ACTUALLY just pulls up a modal using js
      //then you have to have a form in that modal that tells us where to...
      //... submit that first form info
      //the tricky thing is that you have to make sure that the first form data...
      //... is tied to the 2nd form data.. (see commented out modal example below) -->
      <!-- <button type="button" name="button" formaction="" formmethod="">archive and share</button> -->
    </form>
  </div>
</div>
