
<div class="global-justify-center">
<h2>Your Archives</h2>
</div>

<div class="global-justify-center">
    <table class="table table-hover">
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Details</th>
      </tr>
    <%myArchives.forEach((oneArchive)=>{%>
      <tr>
        <td><%=oneArchive.dateAdded.toDateString()%></td>
        <td><%=oneArchive.title%></td>
        <td onclick="window.location='/my-archives/<%=oneArchive._id%>'">View Details</td>
      </tr>
  <%  }) %>

  <!-- <tr onclick="window.location='/just/a/link.html'"> -->

      <!-- <tr>
        <td>Nov 6, 2017</td>
        <td>I'm learning to code!</td>
        <td>...</td>
      </tr>
      <tr>
        <td>Nov 1, 2017</td>
        <td>Grandmother Passed Away</td>
        <td>...</td>
      </tr> -->
    </table>
</div>
