
    <div class="global-justify-center">
    <h2>Share or archive a life update</h2>
    </div>
    <br>
    <div class="global-justify-center">
        <form>
          <input type="text" name="archiveTitle" placeholder="Give your update a title!">
          <br>
          <textarea name="archiveDescription" rows="8" cols="80" placeholder="include a description!"></textarea>
          <br>
          <input type="text" name="archiveImage" placeholder="type in an image url!">
          <br>
          <!-- //Also must include option to upload a picture
          //first button is to archive your stuff -->
          <button formaction="/my-archives" formmethod="post">archive</button>
          <!-- //second button is ACTUALLY just pulls up a modal using js
          //then you have to have a form in that modal that tells us where to...
          //... submit that first form info
          //the tricky thing is that you have to make sure that the first form data...
          //... is tied to the 2nd form data.. (see commented out modal example below) -->
          <!-- <button type="button" name="button" formaction="" formmethod="">archive and share</button> -->
        </form>
    </div>

    <!-- <div class="modal fade in" id="my-modal" tabhomepage="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Miami Madness</h1>
              </div>
              <div class="modal-body">
                <p>Congrats! You won the game!</p>
              </div>
              <div class="modal-footer">
                <a href="homepage.html" class="btn btn-secondary" data-dismiss="modal">End Game</a>
                <! <button type="button" class="btn btn-secondary" data-dismiss="modal">End Game</button> -->
                <!-- <button type="button" class="btn btn-primary">Play Again!</button>
              </div>
            </div>
          </div>
      </div> --> -->
      <!-- //and then in the JS function hideModal(){
        $("#my-modal").hide();
        } -->
