<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Home Page</title>
    <style>
        @font-face { font-family: Moon ; src: url('/fonts/moon-light.otf'); }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/responsive.js"></script>
    <script type="text/javascript" src="/javascripts/popups.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.min.css">
  </head>



  <body>


    <!-- //HEADER/NAV BAR**************************************
//************************************** -->
    <header class="container-fluid .fit-to-text">
    <div class="row">
      <div class="col-sm-2 avatar">
        <div class="dropdown">
            <button onclick="myFunction()"><img class="avatar dropbtn" src="/images/marisa-avatar.png" alt="marisa-avatar"></button>
            <div id="myDropdown" class="dropdown-content">
              <a href="/my-archives">My Archives</a>
              <a href="#">Profile</a>
              <a href="#">Settings</a>
            </div>
        </div>
      </div>
      <a href="/" class="col-sm-8 d-inline-flex justify-content-center">
        <h1 class="logo-text">ENCAPSULATE</h1>
        <img class="icon logo-image" src="/images/airplane.png" alt="airplane-logo">
      </a>
      <div class="col-sm-2">
      <nav>
        <img class="icon message" src="/images/messages-icon.png" alt="messages">
        <img class="icon add" src="/images/add-icon.png" alt="add a new update">
      </nav>
    </div>
    </header>


    <%- body %>

  </body>
</html>
