<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Home Page</title>
    <style>
        @font-face { font-family: Moon ; src: url('/fonts/moon-light.otf'); }
    </style>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mukta|Noto+Sans:400,700|Playfair+Display+SC|Vollkorn+SC" rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/popups.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.min.css">
  </head>



  <body>


    <!-- //HEADER/NAV BAR**************************************
//************************************** -->



<header class="container-fluid .fit-to-text">

<% if (currentUser) { %>
  <!-- <a href="/homepage"><img class="left-icon icon" src="/images/pigeon.png" alt="logo"></a>
  <div class="dropdown">
      <img class="dropdown-toggle icon" class="left-icon" src="/images/user.png" alt="User" data-toggle="dropdown">
      <ul class="dropdown-menu">
        <li><a href="/my-archives">My Archives</a></li>
        <li><a href="/my-profile">My Profile</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
  </div> -->

  <div class="dropdown left-icon">
      <img class="dropdown-toggle icon" src="/images/pigeon.png" alt="User" data-toggle="dropdown">
      <ul class="dropdown-menu">
        <li><a href="/homepage">Home</a></li>
        <li><a href="/my-profile">My Profile</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
  </div>

<a href="/homepage"><img class="left-icon icon" src="/images/write-message.png" alt="write update"></a>

  <!-- groups -->
  <!-- <div class="dropdown" id="groups-icon">
      <img class="dropdown-toggle icon" id="groups-icon" src="/images/groups.png" alt="groups" data-toggle="dropdown">
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="/my-groups">My Groups</a></li>
      </ul>
  </div> -->
  <a href="/my-groups"><img id="groups-icon" class="icon" src="/images/groups.png" alt="view group"></a>
  <a href="/my-archives"><img id="update-icon" class="icon"  src="/images/user.png" alt="logo"></a>
  <!-- write an update -->







    <%}else{%>
      <nav id="landing-page-nav">
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </nav>
    <%}%>



    </header>


    <%- body %>

    <!-- <footer class="global-justify-center">
      Made with &hearts; at Ironhack
    </footer> -->

  </body>
</html>
