
#admin-form {
  margin: 30px auto;
  width: 380px;
  color:$tertiary-color;
  .below-form{
    text-align: center;
  }
}

#admin-form a{
  color: $primary-color;
}

#admin-form label {
  color: $secondary-color;
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  font-size:20px;
}

#admin-form input,
#admin-form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#admin-form button {
  background: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#adminform button:hover {
  background: #fff;
  color: $secondary-color;
  transition: .3s ease background;

}
