table{
  background-color: white;
  width: 80%;
  font-family: 'Mukta', sans-serif;
  th{
    color:white;
    font-size: 24px;

  }
  td{
    color:$tertiary-color;
    font-size: 16px;
  }
}

.table{
  background-color: white;
  width: 80%;
}

th{
  background-color: $secondary-color;
  color: white;
}

th:hover{
  background-color: $secondary-color;
  color: white;
}
