<div class="archive-outer-container">

<div class="inner-nav">
  <a class="return" href="/my-archives">Return to My Group</a>
</div>

  <div class="archive-container">
      <h2><%=archiveDetails.title%></h2>
      <br>
      <p><%=archiveDetails.description%></p>
  </div>

</div>
