<section id="above-fold">
    <img id="blogger-man" src="/images/blogger-man.png" alt="">
    <div id="landing-page-text">
      <h3>Diary, Blog, Mass Group Messaging.<br>
      All in one. </h3>
      <div class="logo">
      <h1 id="pigeon-h1">Pigeon.</h1><img src="/images/pigeon.png" alt="">
      </div>
    </div>
</section>
