
<div class="global-justify-center">
  <h1>Your Profile</h1>
</div>

<div class="global-justify-center">
  <img id="blank-profile" src="images/blank-profile-picture.png" alt="blank-profile" height="200" width="200">
</div>

<div class="global-justify-center">
  <section>
    <p><b>Name: </b> <%=userInfo.firstName%> <%=userInfo.lastName%> </p>
    <p><b>Username: </b> <%=userInfo.username%></p>
    <p><b>Email: </b> <%=userInfo.email%></p>
  </section>
</div>
