<form action="/add-group" method="post">
  <label for="groupName">Group Name:</label>
  <input id="groupName" name="groupName" type="text" placeholder="e.g. High School Homies">
  <label for="groupImage">Group Avatar:</label>
  <input id="groupImage" type="text" name="groupAvatar" placeholder="e.g.insert a link to a picture or gif here">
  <label for="groupDescription">Group Description</label>
  <textarea id="groupDescription" type="text" name="groupDescription">Give your group a description!</textarea>
  <button>Create Group</button>
</form>
