
<div class="grey-background">
<div class="global-justify-center">
<h1>Your Groups</h1>
</div>

<div class="global-justify-center">
    <table class="table table-hover">
      <tr>
        <th>Status</th>
        <th>Group Name</th>
      </tr>
    <%myGroups.forEach((oneGroup)=>{%>
      <tr onclick="window.location='/my-groups/<%=oneGroup._id%>'">
        <td>Active</td>
        <td><%=oneGroup.name%></td>
      </tr>
  <%  }) %>
    </table>
</div>

<div class="global-justify-center add-group-button">
<h2><a href="/add-group">Add a Group</a></h2>
</div>

</div>
